<meta charset="utf-8">
<div style="background:#1D4088;width:100%;color:white;">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAUCAMAAAAQlCuDAAAAYFBMVEU7WZhcdqv///9sg7K4xNpyiLdJZZ58kbyFmMCLncPp7PO/yd2xvNZPaqOcrMzO1eXa4OyZqMdSbqbz9fiqt9OTpMjn6vLs7/XS2ehmfbCgr8zi5vDh5u6ls9D29/uQocUpE6GLAAABaklEQVR4Xs2Tx6rDQAxFJU13r+nl///ySYrxEAeSLLJ4F4KPfPHB0WD4eTyify8Yvm3riojsO1Vj22/biT7JuP+2LYjK3v1AloefyOqBB+QYTq3t4IJDgWMQUJlJKQmCgIFMi6wOIcjGNPdKLl0lO9wJnsFbKfaVyDSjAd8qtT7TQ8ZTt8rMgTQWenoE7AIRaEm33rOZVBZEATC3JAcALsZoRc9zm+J8EsXJn7hUCkwk1GP/Qn4kmjYLdIxY8E+XycPRO/YLeZ2FuHqhiWjnswxSWxT7rUyjMngr02VkWSLJVraXHD7L1n+5noY1cSMbHWg+yvTBJ1kJTrAkuvT35gpnosmYMAdddn+Q0xmJbLJEYyZp9dSybKIlkG4LXHXW01zSQPNKKjNMcZUNLTu6UrApRHEBsKPArYJOBbsZuNwJNZmW5/UdOc7pakxAwKMB8OicQS9NjMGZGtA4vjWABBmfCRH1s2T+t/kDCeYRTba82oAAAAAASUVORK5CYII="> Mini
<span style="position:absolute;right:0;padding:1;"><img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBggGBQkIBwgKCQkKDRYODQwMDRoTFBAWHxwhIB8cHh4jJzIqIyUvJR4eKzssLzM1ODg4ISo9QTw2QTI3ODUBCQoKBQUFDQUFDSkYEhgpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKf/AABEIABAAEgMBIgACEQEDEQH/xAAZAAABBQAAAAAAAAAAAAAAAAAFAAMEBgf/xAAnEAABAwMCBQUBAAAAAAAAAAABAgMEBREhABIGMUFxgRUjUZGhIv/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDQ21p4wrsuO+8+3ChnaI6UqRvPIlZtjN8HP0dS5HDCaTaZQ5AhLa/pxDzqiytPXde9sddPTay9Q6o6Z0VPp71lJksNklKrAe54Az8AeB9ZqzHFMT0ykNuyVOKBU7ZSG2wOquV+xx+aC2JvtG4AG2QDfS0Oj0CNHjNNB2ZZtATiY8kYFuQVYdtLQf/Z"></span>
</div>

<img src="<%= @user['picture']['data']['url'] %>">
<b id="my_name"><%= @user['name'] %></b><br>
What's on your mind?<br>
<textarea id="message_input"></textarea>
<button onclick="ajaxSendRequest('post_feed')" style="background:#5b74a8;border-color:#8a9ac5 #29447E #1a356e;color:#fff">Share</button><br>

<div id="home">
<% @user['home']['data'].select{|e| e['message']}.each do |entry| %>
  <h4><%= entry['from']['name'] %>
      <%= (" => " + entry['to']['data'].map{|u| u['name']}.join(', ')) if entry['to'] %>
      <%= (" with "+entry['with_tags']['data'].map{|u| u['name']}.join(', ')) if entry['with_tags'] %></h4>
  <p><%= entry['message'] %></p>
<% end %>
</div>

<span style="color:grey;font-size:small">49 minutes ago · Like · Comment · Remove</span><hr>
<span style="color:grey">Visit us: Nani Lab.</span>

<script language="javascript" type="text/javascript">
  var xhr;
  function ajaxSendRequest(uri) {
    var msg_input = document.getElementById('message_input');
    xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
          if (xhr.status == 200) {
            if (xhr.responseText.substring(0, 25) === "<script>top.location.href") {
              // redirect to facebook
              var url = xhr.responseText.substring(27, xhr.responseText.length - 10);
              top.location.href = url;
            } else {
              var home = document.getElementById('home');
              var p = document.createElement('p')
              p.innerHTML = msg_input.value;
              home.insertBefore(p, home.firstChild);
              msg_input.value = "";
              var h4 = document.createElement('h4');
              h4.innerHTML = document.getElementById('my_name').innerHTML;
              home.insertBefore(h4, home.firstChild);
            }
          }
        }
      };
    xhr.open("POST", uri, true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.send("message=" + msg_input.value);
  }
</script>
